

#apps {
    min-height: 100vh;
    max-width: 1400px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 80px;
    margin: auto;
    display: table;
}
.image-zoom {
    display: flex;
    column-gap: 12px;
    .image {
        position: relative;
        img {
            width: 500px;
            height: 500px;
            box-shadow: 0 2px 4px rgba(0,0,0,.25);
        }
        .magnifier-lens {
            position: absolute;
            // left: 0;
            // top: 0;
            width: 150px;
            height: 100px;
            background-color: #84848484;
            border: 1px solid #ddd;
            opacity: 0;
            &.active {
                opacity: 1;
            }
        }
    }
    .details {
        position: relative;
        .magnified-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 500px;
            height: 500px;
            box-shadow: 0 2px 4px rgba(0,0,0,.35);
            background-color: #ffffff;
            transform: scale(0.5);
            opacity: 0;
            transition: opacity .3s, transform .3s;
            &.active {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}